  
        *{
            border: 0px;

        }
        #navbar{
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
            z-index:5;
        }
        #topSection{
            margin-left: 75px;
            margin-top: 100px;
            width: 100%;
        }     
        body{
            padding: 0px;
            margin: 0px;
        }
        /* #top0{
            background-color: red;
            z-index: 0;
            display: flex;
            margin-left: 10px;
            position: relative;
            top: 0;
            width: 100%;
        } */
        #top{
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* padding: 20px; */
            background-color: rgb(228,37,41);

        }
        #bottom h3:hover,#bottom p:hover{
            cursor: pointer;
            text-decoration: underline;

        }
        #bottom .drop{
            /* background:red; */
            color: white;
            width: 100%;
            top:65px;
            line-height: 45px;
            background-image: url("https://www.reliancedigital.in/medias/Mobiles-Tablet-Menu-Banners-04-01-2021-01.jpg?context=bWFzdGVyfGltYWdlc3wxMTkxOTN8aW1hZ2UvanBlZ3xpbWFnZXMvaGM0L2gxNy85NTIwNDc1MzczNTk4LmpwZ3xjMmU0NzlmMWZjODQyMmFmNDZhMjA2NTUwZTVhNTI4ODcxMWVkZjM5YzgyNDY3YTE3ODU1OWM0NGQyY2E4MmVi");
            position: absolute;
            background-size: cover;
            height: fit-content;
            opacity: 0;
            visibility: hidden;
        }
        #bottom div:hover .drop{
            top: 65px;
            color: white;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease ;
            }
            .drop>div{
                display: flex;
                gap: 30px;
            }
            .drop>div>div{
                /* text-align: center; */
                margin-left: 20px;
                line-height:18px;
            }
        #list1{
            display: flex;
            width: 300px;
            justify-content: space-around;
        }
        form>input{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 10px;
        }
       form>button{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 8px;
        }
        #bottom{
            background-color:rgb(0,51,128);
            color: white;
            font-size: 15px;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        form{
            background-color: white;
            border-radius: 20px;
        }
        #heading1{
            width: 50%;
            margin: auto;
            text-align: center;
            color: red;
        }
        #box1{
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        #img1{
            display: grid;
            justify-content: center;
            /* flex-direction: column; */
            align-items: center;
        }
        #img2{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            /* column-gap: -30px; */
        }
        /* #img2 img{
            display: flex;
            flex-direction: row;
            
        } */
         #img3{
            margin-top: 30px;
            display: flex;
            /* flex-direction: column; */
            /* grid-template-columns: 1fr; */
            justify-content: center;
            align-items: center;
        }
        #img3 img{
            display: flex;
            flex-direction: column;
        }
        #box2{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: auto;
        }
         #box3{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: auto;
        }
        #bottom11{
            width: 80%;
            margin: auto;
            margin-top: 30px;
            text-align: justify;
            /* color: black; */
        }
        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

                #foot1{
            background-color:rgb(0,51,128);
            
        }
        #ftop{
            display: flex;
            color: white;
            justify-content: space-around;
            margin: auto;
            margin-bottom: 50px;
        }
        #ftop>div{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        #fmid{
            
            margin-left: 100px;
            color: white;
            padding-bottom: 40px;
            display: flex;
            gap: 300px;
        }
        #one>div{
            display: flex;
            width: 60px;
            gap: 30px;
        }
        #two>div{
            display: flex;
            gap: 15px;
        }
        #two>div>div>img{
            width: 120px;
        }
        #foot2{
            margin-top: -20px;
            background-color: rgb(10,36,74);
        }
        
        #f2top>div{
            width: 80%;
            margin: auto;
            text-align: center;
            color: white;
            padding:20px;
        }
        #f2bot>div{
            width: 80%;
            margin: auto;
            color: white;
            text-align: center;
            padding-bottom: 20px;
        }