
        *{
            border: 0px;

        }
        #navbar{
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
            z-index:5;
        }
        #topSection{
            margin-left: 75px;
            margin-top: 100px;
            width: 100%;
        }     
        body{
            padding: 0px;
            margin: 0px;
        }
        /* #top0{
            background-color: red;
            z-index: 0;
            display: flex;
            margin-left: 10px;
            position: relative;
            top: 0;
            width: 100%;
        } */
        #top{
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* padding: 20px; */
            background-color: rgb(228,37,41);

        }
        #bottom h3:hover,#bottom p:hover{
            cursor: pointer;
            text-decoration: underline;

        }
        /* #bottom h3,p{
              display: inline-block;
                position: relative;
                color: #0087ca;
        }
        #bottom h3:hover:after,p:hover:after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
       #bottom h3:after,p:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        } */
        #bottom .drop{
            /* background:red; */
            color: white;
            width: 100%;
            top:65px;
            line-height: 45px;
            background-image: url("https://www.reliancedigital.in/medias/Mobiles-Tablet-Menu-Banners-04-01-2021-01.jpg?context=bWFzdGVyfGltYWdlc3wxMTkxOTN8aW1hZ2UvanBlZ3xpbWFnZXMvaGM0L2gxNy85NTIwNDc1MzczNTk4LmpwZ3xjMmU0NzlmMWZjODQyMmFmNDZhMjA2NTUwZTVhNTI4ODcxMWVkZjM5YzgyNDY3YTE3ODU1OWM0NGQyY2E4MmVi");
            position: absolute;
            background-size: cover;
            height: fit-content;
            opacity: 0;
            visibility: hidden;
        }
        #bottom div:hover .drop{
            top: 65px;
            color: white;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease ;
            }
            .drop>div{
                display: flex;
                gap: 30px;
            }
            .drop>div>div{
                /* text-align: center; */
                margin-left: 20px;
                line-height:18px;
            }
        #list1{
            display: flex;
            width: 300px;
            justify-content: space-around;
        }
        form>input{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 10px;
        }
       form>button{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 8px;
        }
        #bottom{
            background-color:rgb(0,51,128);
            color: white;
            font-size: 15px;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        form{
            background-color: white;
            border-radius: 20px;
        }
        #foot1{
            background-color:rgb(0,51,128);
            
        }
        #ftop{
            display: flex;
            color: white;
            justify-content: space-around;
            margin: auto;
            margin-bottom: 50px;
        }
        #ftop>div{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        #fmid{
            
            margin-left: 100px;
            color: white;
            padding-bottom: 40px;
            display: flex;
            gap: 300px;
        }
        #one>div{
            display: flex;
            width: 60px;
            gap: 30px;
        }
        #two>div{
            display: flex;
            gap: 15px;
        }
        #two>div>div>img{
            width: 120px;
        }
        #foot2{
            margin-top: -20px;
            background-color: rgb(10,36,74);
        }
        
        #f2top>div{
            width: 80%;
            margin: auto;
            text-align: center;
            color: white;
            padding:20px;
        }
        #f2bot>div{
            width: 80%;
            margin: auto;
            color: white;
            text-align: center;
            padding-bottom: 20px;
        }
        .top22{
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }
        .swiper-slide>img{
            width: 100%;
        }
        #top23{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin-left: 10px;
        }
       .mobile{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows:auto ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
       }
       .mobile h5{
        color: #2a5595;
       }
       .mobile>div:hover h5{
        color: red;
       }
       .mobile p{
        color: gray;
       }
       .mobile>div{
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        line-height:10px;
       }
       .mobile>div>img{
        width: 200px;
       }
        .mobile>div>img:hover{
            width: 210px;
        }
       .mobile>div>button{
        border-radius: 10px;
        color:rgb(75,146,73);
        border: 1px solid rgb(75,146,73);
       }
       .sappliances{
         display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows:auto ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
       }
        .sappliances>div{
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        line-height:10px;
       }
       .sappliances>div>img{
        width: 200px;
       }
        .sappliances>div>img:hover{
            width: 210px;
        }
       .sappliances>div>button{
        border-radius: 10px;
        color:rgb(75,146,73);
        border: 1px solid rgb(75,146,73);
       }
        .sappliances h5{
        color: #2a5595;
       }
       .sappliances>div:hover h5{
        color: red;
       }
       .sappliances p{
        color: gray;
       }
        .watch{
         display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows:auto ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
       }
        .watch>div{
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        line-height:10px;
       }
       .watch>div>img{
        width: 200px;
       }
       .watch>div>img:hover{
        width: 210px;
       }
       .watch>div>button{
        border-radius: 10px;
        color:rgb(75,146,73);
        border: 1px solid rgb(75,146,73);
       }
        .watch h5{
        color: #2a5595;
       }
       .watch>div:hover h5{
        color: red;
       }
       .watch p{
        color: gray;
       }
       #viewall{
        width: 30%;
        margin: auto;
        text-align: center;
    
       }
       #viewall>button{
        font-size: 30px;
        padding: 5px 30px;
        border-radius: 20px;
        background-color: #2a5595;
        color: white;
        margin: 20px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
       }
         #viewall>button:hover{
            background-color: white;
            color: #2a5595;
            border:1px solid #2a5595;
         }
         #login:hover{
            cursor: pointer;
           color: white;
           font-size: 20px;
         }