  *{
            border: 0px solid black;

        }
        #navbar{
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
            z-index:5;
        }
        #topSection{
            margin-left: 75px;
            margin-top: 100px;
            width: 100%;
        }     
        body{
            padding: 0px;
            margin: 0px;
        }
        /* #top0{
            background-color: red;
            z-index: 0;
            display: flex;
            margin-left: 10px;
            position: relative;
            top: 0;
            width: 100%;
        } */
        #top{
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* padding: 20px; */
            background-color: rgb(228,37,41);

        }
        #bottom .drop{
            /* background:red; */
            color: white;
            width: 100%;
            top:65px;
            line-height: 45px;
            background-image: url("https://www.reliancedigital.in/medias/Mobiles-Tablet-Menu-Banners-04-01-2021-01.jpg?context=bWFzdGVyfGltYWdlc3wxMTkxOTN8aW1hZ2UvanBlZ3xpbWFnZXMvaGM0L2gxNy85NTIwNDc1MzczNTk4LmpwZ3xjMmU0NzlmMWZjODQyMmFmNDZhMjA2NTUwZTVhNTI4ODcxMWVkZjM5YzgyNDY3YTE3ODU1OWM0NGQyY2E4MmVi");
            position: absolute;
            background-size: cover;
            height: fit-content;
            opacity: 0;
            visibility: hidden;
        }
        #bottom div:hover .drop{
            top: 65px;
            color: white;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease ;
            }
            .drop>div{
                display: flex;
                gap: 30px;
            }
            .drop>div>div{
                /* text-align: center; */
                margin-left: 20px;
                line-height:18px;
            }
        #list1{
            display: flex;
            width: 300px;
            justify-content: space-around;
        }
       #ram>input{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 10px;
        }
       #ram>button{
            border-radius: 20px;
            margin:auto;
            background-color: white;
            padding: 8px;
        }
        #bottom{
            background-color:rgb(0,51,128);
            color: white;
            font-size: 15px;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        #bottom h3:hover,#bottom p:hover{
            cursor: pointer;
            text-decoration: underline;

        }
        #ram{
            background-color: white;
            display: flex;
            border-radius: 20px;
        }
         #login:hover{
            cursor: pointer;
           color: white;
           font-size: 20px;
         }
        /* ======================================================================================================
        ======================================================================================================= */

         #foot1{
            background-color:rgb(0,51,128);
            
        }
        #ftop{
            display: flex;
            color: white;
            justify-content: space-around;
            margin: auto;
            margin-bottom: 50px;
        }
        #ftop>div{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        #fmid{
            
            margin-left: 100px;
            color: white;
            padding-bottom: 40px;
            display: flex;
            gap: 300px;
        }
        #one>div{
            display: flex;
            width: 60px;
            gap: 30px;
        }
        #two>div{
            display: flex;
            gap: 15px;
        }
        #two>div>div>img{
            width: 120px;
        }
        #foot2{
            margin-top: -20px;
            background-color: rgb(10,36,74);
        }
        
        #f2top>div{
            width: 80%;
            margin: auto;
            text-align: center;
            color: white;
            padding:20px;
        }
        #f2bot>div{
            width: 80%;
            margin: auto;
            color: white;
            text-align: center;
            padding-bottom: 20px;
        }

        /* =================================================================================
        =================================================================================== */

        .lucy{
           
            width: 30%;
            margin: auto;
            margin-top: 100px;
        }
        .box625{
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 10px;
            margin-top: 20px;
        }
        .lucy h2,p,h4{
            text-align: center;
        }
        .lucy h4,p{
            color: gray;
        }
        .lucy label{
            margin-left: 5%;
        }
        .lucy input,#btn,button{
            width: 90%;
            height: 40px;
            margin-left:5%;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: white;
            
        }
        .lucy #btn{
            background-color: rgb(232,234,237);
            color: black;
            text-align: center;
        }
        label{
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            margin-right: 30px;
            /* padding: 20px; */
        }
